{% extends 'order/base.html' %}

{% block body %}
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Log In</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Log In</button>
                    </form>
                    <p>Don't have an account? </p>
                    <a href="{% url 'order:signup' %}" class="button">Sign up!</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}