{% extends 'order/base.html' %}

{% block body %}

<div class="limiter">
		<div class="container-loginPaka">
			<div class="wrap-loginPaka">
				<form class="loginPaka-form validate-form">
					<span class="loginPaka-form-title p-b-26">
						Witaj

					</span>
						<span class="loginPaka-form-title p-b-26">
						Zarejestruj się!

					</span>


					<div class="wrap-inputPaka"">
						<input class="inputPaka" type="text" name="email">
						<span class="focus-inputPaka" data-placeholder="Email"></span>
					</div>

					<div class="wrap-inputPaka">
						<input class="inputPaka" type="password" name="pass">
						<span class="focus-inputPaka" data-placeholder="Hasło"></span>
					</div>

			<div class="wrap-inputPaka validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="inputPaka" type="password" name="pass">
						<span class="focus-inputPaka" data-placeholder="Password"></span>
					</div>



					<div class="container-loginPaka-form-btn">
						<div class="wrap-loginPaka-form-btn">
							<div class="loginPaka-form-bgbtn"></div>
							<button class="loginPaka-form-btn">
								Zarejestruj
							</button>
						</div>
					</div>

					<div class="text-center p-t-115">
						<span class="txt1">
							Posiadasz konto?
						</span>

						<a class="txt2" href="login.html">
							Zaloguj się!
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>


    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Sign up</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}