{% extends 'order/base.html' %}

{% block body %}
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <br>
                    <h1 class="text-center">My Parcel</h1>
                    <p> Myparcel.pl to nowoczesna platforma wysyłkowa umożliwiająca wysyłkę paczek zarówno na terenie całego kraju jak i za granicę. Wyróżnia nas szeroki wachlarz usług oraz dbałość o ich najwyższą jakość i niską cenę.  Poprzez współpracę z najlepszymi firmami kurierskimi takimi jak UPS, DPD, Geis, InPost, FedEx, Paczkomaty, DHL zawsze zapewniamy naszym klientom najkorzystniejsze warunki.

Odpowiadając na nieustannie rozwijający się handel międzynarodowy, ciągle poszerzamy naszą ofertę o możliwość wysyłki paczek nawet w najbardziej odległe zakątki świata. Nasi kurierzy codziennie przemierzają tysiące kilometrów aby na czas dostarczyć nawet najbardziej niestandardowe przesyłki.

Oprócz platformy wysyłkowej myparcel.pl to również ponad 150 stacjonarnych placówek w całej Polsce, które każdego dnia obsługują tysiące zadowolonych klientów.</p>

           <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
          Dlaczego z nami się opłaca?
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
Dzięki firmom kurierskim, z którymi współpracujemy, opanowaliśmy Europę i możemy pochwalić się największą elastycznością na rynku.
Nie musisz negocjować z kurierami - u nas na od razu dostajesz najlepszą możliwą ofertę.
Nie faworyzujemy nikogo - uważamy, że każdy ma prawo płacić mniej.
Nie wymagamy żadnych deklaracji na minimalne ilości wysyłek.
Zrezygnowaliśmy z abonamentów - płacisz tylko za to, co faktycznie wysyłasz.
Faktury dostarczamy dwa razy w miesiącu, termin płatności wynosi 7 dni.
Materiały do zapakowania swoich przesyłek dostajesz od nas za darmo.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
       Automatyzacja wysyłki
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
Lubimy sprawiać, że Twoje życie staje się łatwiejsze, dlatego proponujemy, abyś zintegrował swój program do obsługi sprzedaży z naszym. W ten sposób zakończysz w swojej firmie erę ręcznego wprowadzania danych. Wszystko będzie się odbywało łatwiej, taniej i szybciej.    
	</div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         Misja i wizja
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Misja:

Misją Epaka.pl jest dostarczenie  klientom nowoczesnych, łatwych i tanich  rozwiązań w zakresie wysyłki paczek zarówno w Polsce jak i za granicę, zachowując przy tym najwyższą jakość usług.

Wizja:

Dostarczamy naszym klientom kompleksowe usługi z zakresu wysyłki paczek zarówno w Polsce jak i za granicę. Odpowiadając na nieustannie rozwijający się handel międzynarodowy, ciągle poszerzamy naszą ofertę o możliwość wysyłki paczek nawet w najbardziej odległe zakątki świata.

Naszym celem jest bycie liderem na rynku przesyłek kurierskich.

Stawiamy na rozwój i innowacyjność dlatego od innych firm odróżnia nas nowoczesny, prosty w obsłudze panel wysyłkowy, który pozwala na szybkie i bardzo sprawne wysłanie paczki zarówno w Polsce jak i za granicę.

      </div>
    </div>
  </div>
</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}