{% extends 'order/base.html' %}

{% block body %}
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <br>
                    <h1 class="text-center">My Parcel</h1>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et mi vitae tellus feugiat
                        lacinia scelerisque sed felis. Donec sem tellus, bibendum ut nisl ac, eleifend tristique nulla.
                        Proin in lacus at tortor sollicitudin consectetur vel vel eros. Vivamus ut risus nec urna
                        aliquet auctor. Sed ante dui, rhoncus sit amet sollicitudin sed, posuere et ex. Suspendisse
                        euismod bibendum sollicitudin. Etiam metus turpis, efficitur ut velit et, pretium lacinia
                        odio.</p>

                    <p>Quisque mauris sapien, gravida vel ipsum id, gravida rutrum mauris. Donec dapibus pulvinar magna
                        porttitor porta. Aliquam non urna nisi. Fusce sagittis interdum dolor vitae malesuada. Quisque
                        at rhoncus enim, et auctor augue. Phasellus gravida augue eu sapien fermentum, ultricies
                        porttitor metus consectetur. Mauris semper fringilla consequat. Pellentesque habitant morbi
                        tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis
                        in faucibus orci luctus et ultrices posuere cubilia Curae;</p>

                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi
                        magna justo, lobortis in ultrices eget, ullamcorper quis magna. Ut ac tempor neque. Morbi congue
                        nunc ut erat gravida mattis. Vivamus eleifend eu velit a tempus. Sed nec ex eget mauris ultrices
                        faucibus aliquam ut nulla. Cras iaculis dapibus magna, vitae ornare lacus tempus nec. Sed vitae
                        ornare ligula, ac feugiat justo. Ut eget velit a est posuere ornare. Aliquam hendrerit nulla
                        eget massa pretium, ut dictum erat vestibulum.</p>

                    <p>Morbi luctus elit metus, venenatis varius sem iaculis interdum. Curabitur viverra mollis magna,
                        sit amet scelerisque nulla dapibus a. Pellentesque a eleifend justo, vitae elementum tellus.
                        Nullam eleifend, ex ut sollicitudin dapibus, nulla massa auctor massa, nec iaculis velit ante
                        nec arcu. Nulla porta diam ac orci rhoncus, eu cursus felis placerat. Proin bibendum diam nulla,
                        ac semper mauris gravida non. Mauris sodales velit vitae condimentum volutpat. Vivamus sed massa
                        quis arcu gravida molestie et eu purus. Vestibulum ante ipsum primis in faucibus orci luctus et
                        ultrices posuere cubilia Curae;</p>

                    <p>Nullam sit amet nisi id lectus tempor porta ac vel lectus. Fusce dui massa, porttitor non libero
                        eget, molestie sodales sapien. Nunc tempor leo nec turpis viverra laoreet. Phasellus in nibh
                        placerat, tristique felis et, sollicitudin sapien. Fusce eu interdum ipsum. Orci varius natoque
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam ullamcorper nulla sit
                        amet ante tempus, non venenatis magna imperdiet. Etiam ornare pharetra turpis et tempus. In a
                        lectus sem. Nam vitae felis eu augue ornare vulputate commodo ornare massa. Quisque rhoncus,
                        magna ac aliquam sodales, sem libero pretium nibh, viverra imperdiet ante odio vel libero. Duis
                        id nibh sapien.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}