{% extends 'order/base.html' %}

{% block body %}


    <div style="text-align: center;">
        <h2> Wybierz kuriera</h2>
        <h7><strong>Krok 2/5</strong></h7>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0"
                 aria-valuemax="100"></div>
        </div>
        <br />

        <div class="boxed">
            <form action="" method="post">
                {% csrf_token %}
                {# KOPERTA #}
                {% if request.session.type == 'koperta' %}
                    {% for envelope in object_list %}
                        <input type="radio" id="{{ envelope.0 }}" name="courier" value="{{ envelope.0 }}">
                        <label for="{{ envelope.0 }}"><strong>{{ envelope.1 }}</strong> {{ envelope.2 }}zł</label>
                    {% endfor %}
                {% endif %}

                {# PACZKA #}
                {% if request.session.type == 'paczka' %}

                    {% for pack in object_list %}
                        <input type="radio" id="{{ pack.0 }}" name="courier" value="{{ pack.0 }}">
                        <label for="{{ pack.0 }}"><strong>{{ pack.1 }}</strong>{{ pack.2 }}zł</label>
                    {% endfor %}
                {% endif %}

                {# PALETA #}
                {% if request.session.type == 'paleta' %}
                    {% for pallet in object_list %}
                        <input type="radio" id="{{ pallet.0 }}" name="courier" value="{{ pallet.0 }}">
                        <label for="{{ pallet.0 }}"><strong>{{ pallet.1 }}</strong> {{ pallet.2 }}zł</label>
                    {% endfor %}
                {% endif %}

                <br/>
                {% if user.is_authenticated %}
                    <button class="btn btn-danger" type="submit" data-toggle="collapse" data-target="#collapseAdressess"
                            aria-expanded="false" aria-controls="collapseExample">
                        Podaj adresy
                    </button>
                {% else %}
                    <div class="alert alert-danger text-center" role="alert">
                        <strong>Musisz byc zalogowanym aby nadać przesyłkę!</strong>
                    </div><a href="{% url 'order:login' %}">
                    <button type="button" class="btn btn-primary">Zaloguj</button>
                </a>
                {% endif %}
            </form>
             {% if request.session.error_courier %}
                <br>
                <div class="alert alert-danger text-center" role="alert">
                    {{  request.session.error_courier }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}





