{% extends 'order/base.html' %}

{% block body %}
  
    <br><br>
     <div class="container-fluid" style="margin-bottom:100px; margin-top:50px">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                            <div class="form-row">
                             
                                {% csrf_token %}
                                
                                    <div class="form-group">
                                        <span class="text-danger small"></span>
                                        <label class="control-label col-lg-12 col-sm-2"> <label for="id_name">Imie:</label></label>
                                        <div class="col-lg-12 col-sm-10">
										            <div class="wrap-inputPaka">
                                            <input type="text" name="name" maxlength="90" class="inputPaka" required id="id_name"> 
											       <span class="focus-inputPaka" data-placeholder=""></span>
												   </div>
											</div>
                                    </div>
                                
                                    <div class="form-group">
                                        <span class="text-danger small"></span>
                                        <label class="control-label col-lg-12 col-sm-2"> <label for="id_surname">Nazwisko:</label></label>
                                        <div class="col-lg-12 col-sm-10">
										            <div class="wrap-inputPaka">
                                            <input type="text" name="surname" maxlength="90" class="inputPaka" required id="id_surname"> 
											       <span class="focus-inputPaka" data-placeholder=""></span>
												   </div>
											</div>
                                    </div>
                                
                                    <div class="form-group">
                                        <span class="text-danger small"></span>
                                        <label class="control-label col-lg-12 col-sm-2"> <label for="id_company_name">Nazwa Firmy:</label></label>
                                        <div class="col-lg-12 col-sm-10">
										            <div class="wrap-inputPaka">
                                            <input type="text" name="company_name" maxlength="500" class="inputPaka" id="id_company_name"> 
											       <span class="focus-inputPaka" data-placeholder=""></span>
												   </div>
											</div>
                                    </div>
                                
                                    <div class="form-group">
                                        <span class="text-danger small"></span>
                                        <label class="control-label col-lg-12 col-sm-2"> <label for="id_zip_code">Kod pocztowy:</label></label>
                                        <div class="col-lg-12 col-sm-10">
										            <div class="wrap-inputPaka">
                                            <input type="text" name="zip_code" maxlength="6" class="inputPaka" required id="id_zip_code"> 
											       <span class="focus-inputPaka" data-placeholder=""></span>
												   </div>
											</div>
                                    </div>
                                
                                    <div class="form-group">
                                        <span class="text-danger small"></span>
                                        <label class="control-label col-lg-12 col-sm-2"> <label for="id_city">Miejscowość:</label></label>
                                        <div class="col-lg-12 col-sm-10">
										            <div class="wrap-inputPaka">
                                            <input type="text" name="city" maxlength="350" class="inputPaka" required id="id_city"> 
											       <span class="focus-inputPaka" data-placeholder=""></span>
												   </div>
											</div>
                                    </div>
                                
                                    <div class="form-group">
                                        <span class="text-danger small"></span>
                                        <label class="control-label col-lg-12 col-sm-2"> <label for="id_street">Ulica:</label></label>
                                        <div class="col-lg-12 col-sm-10">
										            <div class="wrap-inputPaka">
                                            <input type="text" name="street" maxlength="350" class="inputPaka" required id="id_street"> 
											       <span class="focus-inputPaka" data-placeholder=""></span>
												   </div>
											</div>
                                    </div>
                                
                                    <div class="form-group">
                                        <span class="text-danger small"></span>
                                        <label class="control-label col-lg-12 col-sm-2"> <label for="id_house_number">Numer domu:</label></label>
                                        <div class="col-lg-12 col-sm-10">
										            <div class="wrap-inputPaka">
                                            <input type="number" name="house_number" class="inputPaka" required id="id_house_number"> 
											       <span class="focus-inputPaka" data-placeholder=""></span>
												   </div>
											</div>
                                    </div>
                                
                                    <div class="form-group">
                                        <span class="text-danger small"></span>
                                        <label class="control-label col-lg-12 col-sm-2"> <label for="id_apartment_number">Numer mieszkania:</label></label>
                                        <div class="col-lg-12 col-sm-10">
										            <div class="wrap-inputPaka">
                                            <input type="number" name="apartment_number" class="inputPaka" id="id_apartment_number"> 
											       <span class="focus-inputPaka" data-placeholder=""></span>
												   </div>
											</div>
                                    </div>
                                
                                    <div class="form-group">
                                        <span class="text-danger small"></span>
                                        <label class="control-label col-lg-12 col-sm-2"> <label for="id_telephone_number">Numer telefonu:</label></label>
                                        <div class="col-lg-12 col-sm-10">
										            <div class="wrap-inputPaka">
                                            <input type="text" name="telephone_number" maxlength="20" class="inputPaka" required id="id_telephone_number"> 
											       <span class="focus-inputPaka" data-placeholder=""></span>
												   </div>
											</div>
                                    </div>
                                
                                    <div class="form-group">
                                        <span class="text-danger small"></span>
                                        <label class="control-label col-lg-12 col-sm-2"> <label for="id_email_address">Adres email:</label></label>
                                        <div class="col-lg-12 col-sm-10">
										            <div class="wrap-inputPaka">
                                            <input type="email" name="email_address" maxlength="250" class="inputPaka" required id="id_email_address"> 
											       <span class="focus-inputPaka" data-placeholder=""></span>
												   </div>
											</div>
                                    </div>
                                
                                    <div class="form-group">
                                        <span class="text-danger small"></span>
                                        <label class="control-label col-lg-12 col-sm-2"> <label for="id_nip">Nip:</label></label>
                                        <div class="col-lg-12 col-sm-10">
										            <div class="wrap-inputPaka">
                                            <input type="text" name="nip" maxlength="10" class="inputPaka" id="id_nip"> 
											       <span class="focus-inputPaka" data-placeholder=""></span>
												   </div>
											</div>
                                    </div>
                                
                            </div>
							 <div class="text-center">
                            <button class="btn btn-primary" type="submit">Zatwierdź</button>
                        </div>
						</form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="/static/order/main.js"></script>
</body>
</html>


{% endblock %}
