{% extends 'order/base.html' %}

{% block body %}

    <div class="row">
        <div class="col-sm-8">
            <br>
            <h2 align="center"> Zamów kuriera </h2>


            <div style="text-align: center;">
                <h7><strong>Krok 1/5</strong></h7>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
            </div>

            {% if error_parcel %}
                <br>
                <div class="alert alert-danger text-center" role="alert">
                    {{ error_parcel }}
                </div>
            {% endif %}

            <br>
            <div class="alert alert-info text-center" role="alert"><strong>Wybierz rodzaj paczki</strong>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">

                    <div class="form-row">

                        <!-- RODZAJ -->
                        <div style="text-align: center;">
                            <div class="boxed2">

                                {% for radio in form.type %}
                                    {{ radio }}
                                {% endfor %}<br/>

                                <!--
                                                                <input type="radio" id="paczka" name="courier" value="Paczka">

                                                                <label for="paczka">Paczka</label>

                                                                <input type="radio" id="List" name="courier" value="List">
                                                                <label for="List">List</label>

                                                                <input type="radio" id="paleta" name="courier" value="Paleta">
                                                                <label for="paleta">Paleta</label>
                                -->
                                <br>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">

                        <div class="form-row">

                            <!-- WAGA -->

                            <div class="wrap-inputPaka">
                                <!-- <input class="inputPaka" type="text" name="waga"> -->
                                <div class="alert alert-warning ">
                                    {{ form.weight.label_tag }} {{ form.weight }}
                                </div>
                                <span class="focus-inputPaka" data-placeholder=""></span>

                            </div>
                        </div>
                    </div>

                    <!-- WYMIARY -->
                    <div class="alert alert-success alert-info text-center" role="alert"><strong>Wymiary(cm)</strong>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">

                            <div class="wrap-inputPaka">
                                <div class="alert alert-warning ">
                                    {{ form.length.label_tag }} {{ form.length }}
                                </div>
                                <!--  <input class="inputPaka" type="text" name="dlugosc">-->
                                <span class="focus-inputPaka" data-placeholder=""></span>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="wrap-inputPaka">
                                <div class="alert alert-warning ">
                                    {{ form.width.label_tag }} {{ form.width }}
                                </div>
                                <!-- <input class="inputPaka" type="text" name="szerokosc">-->
                                <span class="focus-inputPaka" data-placeholder=""></span>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="wrap-inputPaka">
                                <div class="alert alert-warning ">
                                    {{ form.height.label_tag }} {{ form.height }}
                                </div>
                                <!-- <input class="inputPaka" type="text" name="wysokość">-->
                                <span class="focus-inputPaka" data-placeholder=""></span>
                            </div>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    Specjalne traktowanie
                                </label>
                            </div>

                        </div>
                        <div class="form-group col-md-4">
                            <button class="btn btn-danger" type="submit" data-toggle="collapse"
                                    data-target="#collapsePrices" aria-expanded="false" aria-controls="collapseExample">
                                Sprawdź ceny
                            </button>
                        </div>
                    </div>
            </form>
        </div>
    </div>


    <div class="col-sm-4">
        <br>
        <div class="col-12">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active text-center" id="list-home-list"
                   data-toggle="list"
                   href="#list-home" role="tab" aria-controls="home"><h5>Maksymalne wymiary</h5> waga x dł. x szer. x
                    wys.</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
                   href="#list-settings" role="tab" aria-controls="settings"><strong>Koperta:</strong> 0.5kg x 35cm x
                    25cm x 5cm</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                   href="#list-profile" role="tab" aria-controls="profile"><strong>Paczka:</strong> 30kg x 600cm x 300cm
                    x 300cm</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                   href="#list-messages" role="tab" aria-controls="messages"><strong>Paleta:</strong> 1000kg x 120cm x
                    80cm x 200cm</a>

            </div>
        </div>

    </div>



{% endblock %}