{% extends 'order/base.html' %}

{% block body %}
      {% load widget_tweaks %}
    <div class="row">
        <div class="col-sm-8">
            <br>
            <h2 align="center"> Zamów kuriera </h2>


            <div style="text-align: center;">
                <h7><strong>Krok 1/5</strong></h7>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
            </div>

            {% if error_parcel %}
                <br>
                <div class="alert alert-danger text-center" role="alert">
                    {{ error_parcel }}
                </div>
            {% endif %}

            {% if form.errors %}
                <br>
                <div class="alert alert-danger text-center" role="alert">
                    {% for key, value in form.errors.items %}
                        <strong>{% if key != '__all__' %}{{ key }} {% endif %}{{ value }}</strong>
                    {% endfor %}
                </div>
            {% endif %}



            <br>
            <div class="alert alert-info text-center" role="alert"><strong>Wybierz rodzaj paczki</strong>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group" style="margin-bottom:80px;">

                    <div class="form-row">

                        <!-- RODZAJ -->
                        <div class="text-center">
                            <div class="boxed">
                                <input type="radio" id="id_type_0" name="type" value="koperta">
                                <label for="id_type_0">Koperta</label>

                                <input type="radio" id="id_type_1" name="type" value="paczka">
                                <label for="id_type_1">Paczka</label>

                                <input type="radio" id="id_type_2" name="type" value="paleta">
                                <label for="id_type_2">Paleta</label>
                                <br /><br />
                            </div>
                        </div>

                    </div>

                    <div class="form-group">

                        <div class="form-row">

                            <!-- WAGA -->

                            <div class="wrap-inputPaka">
                                <!-- <input class="inputPaka" type="text" name="waga"> -->

                                 {{ form.weight|add_class:"inputPaka"|add_class:"waga" }}

                                <span class="focus-inputPaka" data-placeholder="Waga" style="margin-bottom:20px"></span>

                            </div>
                        </div>
                    </div>

                    <!-- WYMIARY -->
                    <div class="alert alert-success alert-info text-center" style="margin-bottom:35px" role="alert"><strong>Wymiary(cm)</strong>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">

                            <div class="wrap-inputPaka">
                                  {{ form.length|add_class:"dlugosc"|add_class:"inputPaka" }}

                                <!--  <input class="inputPaka" type="text" name="dlugosc">-->
                                <span class="focus-inputPaka" data-placeholder="Długość"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="wrap-inputPaka">

                                 {{ form.width|add_class:"szerokosc"|add_class:"inputPaka" }}

                                <!-- <input class="inputPaka" type="text" name="szerokosc">-->
                                <span class="focus-inputPaka" data-placeholder="Szerokość"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="wrap-inputPaka">

                                   {{ form.height|add_class:"wysokosc"|add_class:"inputPaka" }}

                                <!-- <input class="inputPaka" type="text" name="wysokość">-->
                                <span class="focus-inputPaka" data-placeholder="Wysokość"></span>
                            </div>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">


                        </div>
                        <div class="form-group col-md-4">
                            <button class="btn btn-primary" type="submit" data-toggle="collapse"
                                    data-target="#collapsePrices" aria-expanded="false" aria-controls="collapseExample">
                                Sprawdź ceny
                            </button>
                        </div>
                    </div>
            </form>
        </div>
    </div>


    <div class="col-sm-4">
        <br>
        <div class="col-12">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active text-center" id="list-home-list"
                   data-toggle="list"
                   href="#list-home" role="tab" aria-controls="home"><h5>Maksymalne wymiary</h5> waga x dł. x szer. x
                    wys.</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
                   href="#list-settings" role="tab" aria-controls="settings"><strong>Koperta:</strong> 1kg x 35cm x
                    25cm x 5cm</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                   href="#list-profile" role="tab" aria-controls="profile"><strong>Paczka:</strong> 30kg x 100cm x 90cm
                    x 70cm</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                   href="#list-messages" role="tab" aria-controls="messages"><strong>Paleta:</strong> 1000kg x 200cm x
                    140cm x 200cm</a>
            </div>
        </div>
    </div>
{% endblock %}