{% extends 'order/base.html' %}

{% block body %}

    <div style="text-align: center;">

            {% if error_unique %}
        <div class="alert alert-danger text-center" role="alert">
                <strong>To zamówienie już ma wystawioną opinię!</strong>
              </div>
            {% endif %}

     <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                            <div class="form-row">
                                {% load widget_tweaks %}
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                        <span class="text-danger small">{{ field.errors }}</span>
                                        <label class="control-label col-lg-12 col-sm-2"> {{ field.label_tag }}</label>
                                        <div class="col-lg-12 col-sm-10">
                                                   <div class="wrap-inputPaka">
                                            {{ field }}
											       <span class="focus-inputPaka" data-placeholder=""></span>
												   </div>
											</div>

											</div>
                                {% endfor %}
                            </div>
                            <button class="btn btn-primary" name="submit_opinion" type="submit">Wystaw opinię</button>
                        </form>
    </div>
{% endblock %}