{% extends 'order/base.html' %}
{% load staticfiles %}

{% block carousel %}
{% endblock %}

{% block body %}
    <!-- Choose Courier label -->
    <div class="row">
        <div class="col-lg-12">
            <br>
            <div class="alert alert-info text-center" role="alert">
                <strong>Wybierz firmę kurierską i sprawdź cennik oraz opinie.</strong>
            </div>
        </div>
    </div>

    <!-- Show couriers -->
    <div class="row">
        {% for courier in object_list %}
            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'order/images/delivery-logo.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ courier.name }}</h5>
                        <a href="{% url 'order:pricing_company' courier.id %}">
                            <button class="btn btn-outline-info btn-block">Sprawdź cennik</button>
                        </a>
                    </div>
                </div>
                <br/>
            </div>
        {% endfor %}
    </div>
{% endblock %}